body
{

background-image:url('https://i.pinimg.com/originals/21/1d/58/211d58d33a92c0cd1c2437cf825a9bc5.gif');

background-repeat:no-repeat;

background-attachment:fixed;

background-position:center; 
}